@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
};
.navigation{
    
}
.navigation h1{
    font-family: 'Righteous', cursive;
    background-color:rgba(238,117,9,1);
    padding: 2rem;
    border-bottom-left-radius: 1rem;
    color: white;
    text-align: center;

}
body{
    background-color: #023047;
 }
 main{
    padding-top: 1rem;
    margin:auto;
    max-width: 800px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size:1.2rem;
 }
 input{
    display: block;
    margin: auto;
    margin-bottom: 0.5rem;
    width: 35%;
    padding: 1rem;
    height: 6px;
    font-size: 1rem;
}
.container {
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
}
.hero {
    display: block;
}
.hero img {
    max-width:50%;
    margin: auto;
    display: block;
    border-radius: 1rem;
}
button{
    font-family: 'Montserrat', sans-serif;
    background-color: #003566;
    padding: 0.5rem 1rem;
    display: block;
    font-size: 1rem;
    border-radius: 0.3rem;
    border-width:medium;
    border-color:rgba(238,117,9,1);
    margin-bottom: 0.8rem ;
    margin: auto;
    font-weight: bold;
    color: rgba(238,117,9,1);
}
#output{
    margin-top:1rem ;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color:white;
}
.footer {
    font-family: 'Righteous', cursive;
    background-color:rgba(238,117,9,1);
    color: white;
    padding: 2rem 0rem;
    border-top-right-radius: 1rem;
    text-align: center;
    margin-top: 3rem;
}
.footer .heading {
    font-size: larger;
    padding-bottom: 1rem;
  
}

.footer ul {
    padding-inline-start: 0px;
    list-style: none;
} 
.list-inline li {
    display: inline;
    padding: 0rem 0.5rem;
}
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: white;
}
